<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=decive-width, initial-scale=1.0">
<title> Home </title>
<link rel="stylesheet" href="../static/style.css">

</head>

<body>

<header> 
<h1>NBA STATPAD</h1>
</header>
<main>

<div id="Content-Pages">
<h2>Tabs</h2>
<button class="tab-button" data-page="homePage">Home</button>
<button class="tab-button" data-page="gamesPage">Live</button>
<button class="tab-button" data-page="playersPage">NBA Roster</button>
<button class="tab-button" data-page="simfantPage">Fantasy</button>
<button class="tab-button" data-page="settPage">Settings</button>
</div>


<section id="homePage">Home</section>
<section id="gamesPage">Schedule/Live</section>
<section id="playersPage">NBA Players</section>
<section id="simfantPage">Statistics</section>
<section id="settPage">Settings</section>

</main>

<footer>Links</footer>

<script src="../js/script.js"></script>
</body>

</html>